/* Базовые стили */

table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ol, ul, li { list-style:none }
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	bottom: auto;
}
/*q:before, q:after { content:''}
strong { font-weight: bold }
em { font-style: italic }
.aligncenter { display:block; margin:0 auto }
.alignleft { float:left }
.alignright { float:right }
div {
	position: relative
} 
/* Базовые стили */


html{-webkit-font-smoothing:antialiased;}
body{
	background-color: transparent;
	background-position: initial initial;
	background-repeat: no-repeat;
	border: 0;
	font-size: 100%;
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	outline: 0;
	padding-top: auto;
	padding-right: auto;
	padding-left: auto;
	padding-bottom: auto;
	vertical-align: baseline;
	background-image: url("../images/1.jpg");
	background-attachment: scroll;
	background-size: auto;
	font: 15px/1.5em Arial, Helvetica, sans-serif, "Arial Narrow";
	color: #4C4C4C;
	font-weight: 500;
	width: 1000px;
	
	
}
a{color:#B43538;text-decoration:none;}
a:hover{
	color: #A51313;
	font-family: Arial, Helvetica, sans-serif, "Arial Narrow";
	border-color: hsla(300,11%,96%,1.00);
	
}
.column-clear{ clear:both;}
.wrapper{
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-top: auto;
	padding-right: auto;
	padding-left: auto;
	padding-bottom: auto;
	width: 1080px;
	position: static;
	top: auto;
	left: auto;
	right: auto;
}
.portfolio-content, .portfolio-area{
	width: 1080px;
	position: static;
	top: 30px;
	left: 0px;
}
.title-page{font-size:30px;margin:20px 0px 30px 0px;color:#151515;}
.goto{float:right;width:130px;margin:-80px 30px 0px 0px;}


.portfolio-categ{margin-bottom:30px;}
.portfolio-categ li{display:inline;margin-right:10px;}
.image-block{ display:block;position: relative;}
.image-block img{
	border: 1px solid #d5d5d5;
	border-radius: 4px 4px 4px 4px;
	background-color: #E1E1E1;
	padding: 10px;
}
.image-block img:hover{
	border: 1px solid #F49CAC;
	box-shadow: 0 0 5px #A9CF54;
	border-collapse: separate;
}
.portfolio-area li{float: left;margin: 0 12px 20px 0;overflow: hidden;width: 245px;padding:5px;}
.home-portfolio-text{margin-top:10px;}
li.active a{ text-decoration:underline;}


/* Стили для футера */
footer {
      background-color:#212121;
      bottom:0;
      box-shadow: 0 -1px 2px #111111;
      display:block;
      height:70px;
      left:0;
      position:fixed;
      width:100%;
      z-index:100;
  }

  footer h2 {
	font-size: 22px !important;
	font-family: tahoma;
	font-weight: normal;
	left: 50%;
	margin: 16px 0 0 -500px;
	padding: 10px 0;
	position: absolute;
	width: 540px;
	color: #F4F8F4;
  }

  footer a.stuts,a.stuts:visited{
	border: none;
	text-decoration: none;
	font-family: tahoma;
	color: #F8F4F4;
	font-size: 14px;
	left: 50%;
	line-height: 31px;
	margin: 23px 0 0 110px;
	position: absolute;
	top: 0;
  }

  footer a.stuts:hover {
    color:#4280af;
  }

  footer .stuts span {
      font-size:22px;
      font-weight:bold;
      margin-left:5px;
  }  	
