@charset "windows-1251";
#content{
	width: 800px;
	position: absolute;
	top: 180px;
	left: 200px;
	text-decoration: none;
	height: 211px;
	margin-top: 0px;
	
	
	}
.socseti{
	position: relative;
	top: 0px;
	bottom:0px;
	left: auto;
	width: 700px;
	height: 272px;
	right: auto;
	}
	.socseti a {
		
		padding: 0 20px; float:left;}
		
		
.title a{
	text-decoration: none;
	font-family: 'Droid Serif';
	color: #BF191C;
	font-size: 30px;
	}
	
	em{
    border:0;
	text-align: left;
	font-weight:normal;
	line-height: 1.5;
	color: #110A0A;
	font-size: 19px;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-style: normal;
		}
p{  
	text-align: left
	border: 0;
	font-size: 100%;
		text-align: left;
	font-weight: normal;
	line-height: 1.5;
	color: #333333;
	font-size: 17px;
	font-family: 'Droid Serif';
	}
	em2
	{

	font-weight:bolder;
	line-height: 1.2;
	color: #524F4F;
	font-size: 25px;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-style: normal;	
	}
	h4{
            
            font-weight: normal;
	line-height: 1.2;
		text-align:left;
	margin-left:50px;
	color: #494646;
	font-size: 15px;
	font-family: 'Droid Serif';
	}
	h5{ 
	font-weight:normal;
	font-family:'Droid Serif';
	font-size:18px;
	color:#333333;
	}
	.fivecol-one{
	margin-left: auto;
	margin-right: auto;
}
a:link, a:visited{
	text-decoration: none;
	color: #F8F4F4;
}


#right-block{
	border-left-style: groove;
	border-width: 2px;
	border-color: #ECECEC;
	overflow: hidden;
	width: 294px;
	position: absolute;
	left: 745px;
	height: 740px;
	top: 2px;
	}
.fancybox1{
float:left;
    margin: 7px 7px 7px 0; 
}
.share42init{margin-left:10px
}
.wp-image-12654613351{
	border:hsla(359,100%,45%,1.00)}
	