@charset "windows-1251";

body{
	background-repeat: no-repeat;
	background-image: url("2.jpg");
	background-attachment: scroll;
	font: 12px/1.5em Arial, Helvetica, sans-serif, "Arial Narrow";
	color: #a5a5a5;
	width: 300px;
	/* [disabled]display: inline; */
	position: static;
	left: 300px;
}

.menu{
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	width: 995px;
}
ul{
	list-style: none;
	width: 100%;
	height: 40px;
	
}
ul li{
	color: #F8F4F4;
	
}
ul li a{
	height: 40px;
	padding: 0 35px;
	text-transform: uppercase;
	color: #F8F4F4;
	text-decoration: none;
	text-align: center;
	float: right;
	font-weight: 500;
	font-size:15px;
	font-family:abril-fatface;
}

#content{
	min-height: 600px;
	padding: 25px;
	width: 100%;
	
	float: right;
	
}
#footer{padding-top: 20px;height: 100px;width: 100%;}
.clear{float: none;clear: both;}
