﻿.menu{
	margin-top: 50px;
	margin-right: 600px;
	margin-left: 200px;
	margin-bottom: 0;
	width: 700px;
	
	
	}
ull{list-style: none;
	width: 100%;
	height: 40px;}
ull li{	
}
ull li a{
	height: 40px;
	padding: 0 35px;
	text-transform: uppercase;
	color: #F8F4F4;
	text-decoration: none;
	text-align: center;
	float: right;
	font-weight: 500;
	font-size:15px;
	font-family:abril-fatface;
}
.podval{
	width: 1068px;
	border-top-style: solid;
	border-top-width: 2px;
	float: bottom;
	height: auto;
	
	}
#contact{
	width: 700px;
	height: 800px;
	position: static;
	}
#right-block{
	border-left-style: groove;
	border-width: 2px;
	border-color: #ECECEC;
	overflow: hidden;
	width: 294px;
	position: absolute;
	left: 745px;
	height: 740px;
	top: 2px;
	}
.otdelenie{

	width: 1080px;
	height: 100px;
	
	}
